services:
  seafile:
    image: seafileltd/seafile-mc:13.0.15@sha256:6a47d79613a2e3a31680f8ed42bea9e0ecc2df0f17e00f2e75f38489fa1d132e
    container_name: seafile
    restart: always
    depends_on:
      seafile-db:
        condition: service_healthy
      seafile-redis:
        condition: service_healthy
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:80 || exit 1']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    environment:
      SEAFILE_MYSQL_DB_HOST: seafile-db
      SEAFILE_MYSQL_DB_USER: user
      SEAFILE_MYSQL_DB_PASSWORD: password
      SEAFILE_MYSQL_DB_CCNET_DB_NAME: ccnet_db
      SEAFILE_MYSQL_DB_SEAFILE_DB_NAME: seafile_db
      SEAFILE_MYSQL_DB_SEAHUB_DB_NAME: seahub_db
      INIT_SEAFILE_MYSQL_ROOT_PASSWORD: root
      TIME_ZONE: Europe/Berlin
      INIT_SEAFILE_ADMIN_EMAIL: ${PRIVATE_EMAIL}
      INIT_SEAFILE_ADMIN_PASSWORD: admin
      SEAFILE_SERVER_HOSTNAME: ${SEAFILE_SERVER_HOSTNAME}
      SEAFILE_SERVER_PROTOCOL: https
      SITE_ROOT: /
      NON_ROOT: false
      JWT_PRIVATE_KEY: ${JWT_PRIVATE_KEY}
      SEAFILE_LOG_TO_STDOUT: false
      ENABLE_GO_FILESERVER: true
      ENABLE_SEADOC: true
      SEADOC_SERVER_URL: https://${SEADOC_SERVER_HOSTNAME}
      CACHE_PROVIDER: redis
      REDIS_HOST: seafile-redis
      REDIS_PORT: 6379
    volumes:
      - ${DIRECTORY}/shared:/shared
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${SEAFILE_SERVER_HOSTNAME}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/seafile.webp
      - traefik.enable=true
      - traefik.http.routers.seafile.rule=Host(`${SEAFILE_SERVER_HOSTNAME}`)
      - traefik.http.routers.seafile.entrypoints=https
    expose:
      - 80
    networks:
      - proxy
      - net

  seafile-db:
    image: mariadb:10.11.15@sha256:85c39719200637250bb8abe3ccd239239d6f175156fc1698141409fcf8e01a38
    container_name: seafile-db
    restart: always
    healthcheck:
      test: ['CMD', '/usr/local/bin/healthcheck.sh', '--connect', '--mariadbupgrade', '--innodb_initialized']
      interval: 20s
      start_period: 30s
      timeout: 5s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_LOG_CONSOLE: true
      MARIADB_AUTO_UPGRADE: 1
    volumes:
      - db:/var/lib/mysql
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/mariadb.webp
    expose:
      - 3306
    networks:
      - net

  seafile-redis:
    image: redis:7.4.5-alpine3.21@sha256:bb186d083732f669da90be8b0f975a37812b15e913465bb14d845db72a4e3e08
    container_name: seafile-redis
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping || exit 1']
    volumes:
      - redis:/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/redis.webp
    expose:
      - 6379
    networks:
      - net

  seadoc:
    image: seafileltd/sdoc-server:2.0.9@sha256:5b1bf5a8bfdb8bc5db957e7faee2220111fd6eff00795eaaf172e2f80bb999a5
    container_name: seadoc
    restart: always
    depends_on:
      seafile-db:
        condition: service_healthy
    environment:
      DB_HOST: seafile-db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: seahub_db
      TIME_ZONE: Europe/Berlin
      JWT_PRIVATE_KEY: ${JWT_PRIVATE_KEY}
      NON_ROOT: false
      SEAHUB_SERVICE_URL: https://${SEAFILE_SERVER_HOSTNAME}
    volumes:
      - seadoc:/shared
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/seafile.webp
      - traefik.enable=true
      - traefik.http.routers.seadoc.rule=Host(`${SEADOC_SERVER_HOSTNAME}`)
      - traefik.http.routers.seadoc.entrypoints=https
    expose:
      - 80
    networks:
      - proxy

  collabora:
    image: collabora/code:25.04.8.2.1@sha256:7983fd172c69f4545f93533fee62c06fdcd1aa0806f694db7b9ec6809caa4bd8
    container_name: collabora
    restart: always
    cap_add:
      - MKNOD
    environment:
      TZ: Europe/Berlin
      server_name: ${COLLABORA_SERVER_HOSTNAME}
      aliasgroup1: https://${SEAFILE_SERVER_HOSTNAME}:443
      DONT_GEN_SSL_CERT: 'true'
      extra_params: --o:ssl.enable=false --o:ssl.termination=true
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${COLLABORA_SERVER_HOSTNAME}
      - net.unraid.docker.icon=https://www.collaboraonline.com//wp-content/uploads/2019/01/CP-icon-150x150.png
      - traefik.enable=true
      - traefik.http.routers.collabora.rule=Host(`${COLLABORA_SERVER_HOSTNAME}`)
      - traefik.http.routers.collabora.entrypoints=https
    expose:
      - 9980
    networks:
      - proxy

networks:
  proxy:
    external: true
  net:
    external: false

volumes:
  db: {}
  redis: {}
  seadoc: {}
