services:
  vaultwarden:
    image: vaultwarden/server:1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
    container_name: vaultwarden
    restart: always
    volumes:
      - ${DIRECTORY}/data:/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${DOMAIN}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/vaultwarden.webp
      - traefik.enable=true
      - traefik.http.routers.vaultwarden.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.vaultwarden.entrypoints=https
    expose:
      - 80
    networks:
      - proxy

networks:
  proxy:
    external: true
