services:
  ntfy:
    image: binwiederhier/ntfy:v2.17.0@sha256:4768ca4ed07bf5ba0331f333bfccc541ba1594ed7fa5a7b0245763a581809344
    container_name: ntfy
    restart: always
    command:
      - serve
    environment:
      TZ: Europe/Berlin
    volumes:
      - ${DIRECTORY}/cache:/var/cache/ntfy
      - ${DIRECTORY}/ntfy:/etc/ntfy
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${DOMAIN}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/ntfy.webp
      - traefik.enable=true
      - traefik.http.routers.ntfy.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.ntfy.entrypoints=https
      - traefik.http.routers.ntfy.tls=true
      - traefik.http.routers.ntfy.tls.certresolver=desec
    expose:
      - 80
    networks:
      - proxy

networks:
  proxy:
    external: true
