services:
  gocron:
    image: ghcr.io/flohoss/gocron:v0.9.7@sha256:ca3b58035b72f868aecb20fff0ecc1cbe40e6e511539d77244fadae89da9ee3f
    container_name: gocron
    restart: always
    hostname: gobackup
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
        reservations:
          memory: 512M
          cpus: '0.5'
    volumes:
      - ${DIRECTORY}/config:/app/config/
      - ${DIRECTORY}/.resticpwd:/secrets/.resticpwd
      - ${DIRECTORY}/.rclone.conf:/root/.config/rclone/rclone.conf
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_MOUNT}
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/restic.webp
    ports:
      - 8156:8156
