services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:14.0.2@sha256:fa8ce5aba7c20e106c649e00da1f568e8f39c58f1706bcf4f6921f16aaf5ba48
    container_name: forgejo
    restart: always
    depends_on:
      forgejo-db:
        condition: service_healthy
    environment:
      FORGEJO__service__ENABLE_INTERNAL_SIGNIN: false
      FORGEJO__database__DB_TYPE: postgres
      FORGEJO__database__HOST: forgejo-db:5432
      FORGEJO__database__NAME: db
      FORGEJO__database__USER: user
      FORGEJO__database__PASSWD: password
    volumes:
      - ${DIRECTORY}/data:/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${DOMAIN}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/forgejo.webp
      - traefik.enable=true
      - traefik.http.routers.forgejo.entrypoints=https
      - traefik.http.routers.forgejo.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.forgejo.tls=true
      - traefik.http.routers.forgejo.tls.certresolver=desec
      - traefik.http.routers.forgejo.service=forgejo
      - traefik.http.services.forgejo.loadbalancer.server.port=3000
    expose:
      - 3000
    ports:
      - '30:22'
    networks:
      - proxy
      - net

  forgejo-db:
    image: postgres:17.7-alpine3.21@sha256:5bcb5623bb6999b2f7fbd2109f0bfc1f144d138b52ca35ede95d644d93585c2f
    container_name: forgejo-db
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d db']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - db:/var/lib/postgresql/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/postgresql.webp
    expose:
      - 5432
    networks:
      - net

networks:
  proxy:
    external: true
  net:
    external: false

volumes:
  data: {}
  db: {}
