services:
  mittagskarte:
    image: ghcr.io/flohoss/mittagskarte:v0.8.6@sha256:afd3f83bd32d0fb9ad252b2cff967a6af38c1b681c643443d5b56c031171f639
    container_name: mittagskarte
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
        reservations:
          memory: 512M
          cpus: '0.5'
    volumes:
      - ${DIRECTORY}:/app/config
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${DOMAIN}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/mittagskarte.webp
      - traefik.enable=true
      - traefik.http.routers.mittagskarte.entrypoints=https
      - traefik.http.routers.mittagskarte.priority=1
      - traefik.http.routers.mittagskarte.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.mittagskarte.tls=true
      - traefik.http.routers.mittagskarte.tls.certresolver=desec
    expose:
      - 8156
    networks:
      - proxy

networks:
  proxy:
    external: true
