services:
  immich:
    image: ghcr.io/immich-app/immich-server:v2.5.2@sha256:8ac5a6d471fbb6fcfec6bc34854dd5a947c1795547f0d9345d9bf1803d1209e3
    container_name: immich
    restart: always
    depends_on:
      immich-redis:
        condition: service_healthy
      immich-db:
        condition: service_healthy
    environment:
      TZ: Europe/Berlin
      DB_PASSWORD: password
      DB_USERNAME: user
      DB_DATABASE_NAME: db
      DB_HOSTNAME: immich-db
      REDIS_HOSTNAME: immich-redis
    volumes:
      - ${DATA_DIR}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.webui=https://${DOMAIN}
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/immich.webp
      - traefik.enable=true
      - traefik.http.routers.immich.entrypoints=https
      - traefik.http.routers.immich.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.immich.tls=true
      - traefik.http.routers.immich.tls.certresolver=desec
    expose:
      - 2283
    networks:
      - proxy
      - net
    healthcheck:
      disable: false

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.2@sha256:531d2bccbe20d0412496e36455715a18d692911eca5e2ee37d32e1e4f50e14bb
    container_name: immich-machine-learning
    restart: always
    environment:
      TZ: Europe/Berlin
      DB_PASSWORD: password
      DB_USERNAME: user
      DB_DATABASE_NAME: db
      DB_HOSTNAME: immich-db
      REDIS_HOSTNAME: immich-redis
    volumes:
      - cache:/cache
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/immich.webp
    networks:
      - net
    healthcheck:
      disable: false

  immich-redis:
    image: docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
    container_name: immich-redis
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping || exit 1']
    volumes:
      - redis:/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/redis.webp
    networks:
      - net

  immich-db:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich-db
    restart: always
    shm_size: 128mb
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d db']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: db
      POSTGRES_INITDB_ARGS: --data-checksums
    volumes:
      - db:/var/lib/postgresql/data
    labels:
      - net.unraid.docker.managed=dockhand
      - net.unraid.docker.icon=https://cdn.jsdelivr.net/gh/selfhst/icons/webp/postgresql.webp
    expose:
      - 5432
    networks:
      - net

networks:
  proxy:
    external: true
  net:
    external: false

volumes:
  cache: {}
  db: {}
  redis: {}
